$backButton-size: 40px;

.backButton {

	width: $backButton-size;
	height: $backButton-size;
	display: flex;
	position: absolute;
	top: $_gutter;
	left: $_gutter;
	z-index: $_z-index-1;

	svg {
		transform: rotate(-90deg);
		width: 100%;
		height: 100%;
	}

	&--exitTale {
		left: auto;
		right: $_gutter;
	}

}
