.collection {

	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding: $_gutter;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: $_gutter;
	grid-auto-rows: minmax(25vh, auto);

	&__item {
		display: flex;
	}

	&--loading {

		mask-image: linear-gradient(0deg, transparent, #000000);

		.collection__item {
			background-color: $_grey-semiOpaque;
			border-radius: $_radius;
			@include opacityPulse;
		}

	}

}
