.taleStart {

	@include pageContainer;

	.taleHeroImage {
		height: 50vh;
		margin: $_gutter auto 0;
	}

	&__summary {
		margin: $_gutter auto;
	}

	&__startLink {
		width: 100%;
		margin: auto auto $_gutter;
		font-size: $_fontSize-large;
		font-weight: bold;
		text-align: center;
		font-family: 'Poppins', sans-serif;
	}

	&--loading {

		.taleHeroImage {
			@include opacityPulse;
		}

		.taleStart {

			&__summary {
				width: 100%;
				height: 20vh;
				background-image: repeating-linear-gradient(0deg, $_grey-semiOpaque, $_grey-semiOpaque 10%, transparent 10%, transparent 20%);
				@include opacityPulse;
			}

			&__startLink {

				background-color: $_grey-semiOpaque;
				padding: $_gutter-small;
				border-radius: $_radius;
				box-sizing: border-box;
				@include opacityPulse;

				span {
					visibility: hidden;
				}

			}

		}

	}

}
