.taleSelection {

	@include pageContainer;

	&__heading {
		margin: $_gutter auto 0;
	}

	&Item {

		width: 100%;
		height: 100%;
		@include imgBox;

		&__titleAndAuthor {
			margin: auto auto 0 0;
			@include textLabel;
		}

		&__author {
			font-size: $_fontSize-small;
			color: $_darkGrey;
		}

		&:hover {

			.taleSelectionItem__titleAndAuthor {
				background-color: $_white;
			}

		}

	}

}
