.taleMap {

	background-image: linear-gradient($_black-mostlyTransparent 0%,$_black-mostlyOpaque 100%);
	box-shadow: $_shadow;
	width: 10%;
	height: 100%;
	position: absolute;
	z-index: $_z-index-1;
	display: flex;

	&__node {

		fill: $_white;

		&--start {
			fill: $_lightBlue;
		}

		&--end {
			fill: $_lightYellow;
		}

		&--active {
			r: 12;
		}

	}

	&__branch {
		stroke: $_white;
		stroke-opacity: 0.2;
	}

}
