.talePage {

	display: flex;

	&__content {
		@include pageContainer;
		height: auto;
		max-height: 100%;
		padding: $_gutter;
		box-sizing: border-box;
		display: block;
		background-color: $_white-almostOpaque;
		box-shadow: $_shadow;
	}

	h1,
	p {
		margin: 0 $_gutter $_gutter 0;
	}

	&__img {
		width: 25vw;
		height: 25vw;
		float: right;
		margin: 0 0 $_gutter $_gutter;
		box-shadow: $_shadow;
	}

}
