$taleSelectionItem-finishedIconSize: 20px;

.taleSelection {

	@include pageContainer;

	&__heading {
		margin: $_gutter auto 0;
	}

	.taleHeroImage:hover {

		.taleTitleAndAuthor,
		.taleHeroImage__finished {
			background-color: $_white;
		}

	}

}
