@use 'sass:math';

$tale-totalTransitionDuration: 0.8s;
$tale-transitionDuration: math.div($tale-totalTransitionDuration, 2);
$tale-taleChoice-transitionDuration: 0.2s;

.tale {

	width: 100%;
	height: 100%;

	.taleStart {
		opacity: 1;
		visibility: visible;
		transition: opacity $_transitionTiming ease-in-out;
	}

	& > .backgroundImg {

		position: absolute;
		top: 0;
		left: 0;
		z-index: $_z-index--1;
		opacity: 0;
		visibility: hidden;
		transition: opacity $_transitionTiming ease-in-out;

		&:after {
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background-image: linear-gradient(90deg, $_black-mostlyTransparent 0%, transparent 20%, transparent 80%, $_black-mostlyTransparent 100%);
		}

	}

	.talePage {
		position: absolute;
		left: 10%;
		width: 90%;
	}

	.taleMap {
		opacity: 0;
		visibility: hidden;
		transition: opacity $_transitionTiming ease-in-out;
	}

	&-enter {

		.talePage__content {
			transform: translateY(-100%);
			opacity: 0;
		}

		.taleChoice {
			opacity: 0;
		}

		&-active {

			.talePage__content {
				transition: opacity $tale-transitionDuration $tale-transitionDuration, transform $tale-transitionDuration $tale-transitionDuration;
				transform: translateY(0);
				opacity: 1;
			}

			.taleChoice {
				transition: opacity $tale-taleChoice-transitionDuration $tale-transitionDuration;
				opacity: 1;
			}

		}

		&-done {

			.talePage__content {
				transform: translateY(0);
				opacity: 1;
			}

			.taleChoice {
				opacity: 1;
			}

		}

	}

	&-exit {

		overflow: hidden;

		.talePage__content {
			transform: translateY(0);
			opacity: 1;
		}

		.taleChoice {
			opacity: 1;
		}

		&-active {

			.talePage__content {
				transition: opacity $tale-transitionDuration, transform $tale-transitionDuration;
				transform: translateY(100%);
				opacity: 0;
			}

			.taleChoice {
				transition: opacity $tale-taleChoice-transitionDuration;
				opacity: 0;
			}

		}

		&-done {

			.talePage__content {
				transform: translateY(100%);
				opacity: 0;
			}

			.taleChoice {
				opacity: 0;
			}

		}

	}

	&--deadEnd .tale {

		&-enter {

			overflow: hidden;

			.talePage__content {
				transform: translateY(100%);
			}

			&-active {

				.talePage__content {
					transform: translateY(0);
				}

			}

			&-done {

				.talePage__content {
					transform: translateY(0);
				}

			}

		}

		&-exit {

			&-active {

				.talePage__content {
					transform: translateY(-100%);
				}

			}

			&-done {

				.talePage__content {
					transform: translateY(-100%);
				}

			}

		}

	}

	&--pageActive {

		.taleStart {
			opacity: 0;
			visibility: hidden;
		}

		& > .backgroundImg,
		.taleMap {
			opacity: 1;
			visibility: visible;
		}

	}

}
