.taleHeroImage {

	width: 100%;
	height: 100%;
	position: relative;
	@include imgBox;

	&__finished {
		position: absolute;
		top: $_gutter;
		right: $_gutter;
		@include roundIcon;
	}

	&--loading {
		@include opacityPulse;
	}

}
