.taleProgressSummary {

	background-color: $_grey-semiOpaque;
	border-radius: $_radius;
	padding: $_gutter;
	display: flex;
	flex-direction: column;

	&__finishStatus {

		display: flex;
		margin: auto;

		p {
			margin: auto;
		}

	}

	&__finished {
		@include roundIcon;
		margin-left: $_gutter-small;
		opacity: 0.25;
	}

	&__resetButton {

		display: flex;

		&Text {

			display: flex;
			flex-direction: column;
			margin: auto;

			span {
				margin: auto;
			}

		}

		&Explanation {
			font-size: $_fontSize-small;
		}

		& > svg {
			width: $_iconSize-large;
			height: $_iconSize-large;
			stroke: $_black;
			margin: auto;
		}

	}

	&--finished {

		.taleProgressSummary__finished {
			opacity: 1;
		}

	}

	&--loading {
		@include opacityPulse;
	}

}
