$taleMap-primaryDotSize: 30px;

.taleMap {

	background-image: linear-gradient($_black-mostlyTransparent 0%,$_black-mostlyOpaque 100%);
	box-shadow: $_shadow;
	width: 10%;
	height: 100%;
	position: absolute;
	z-index: $_z-index-1;

	&__node {

		width: $taleMap-primaryDotSize;
		height: $taleMap-primaryDotSize;
		border-radius: 100%;
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;

		&--end {
			background-color: $_lightYellow;
			box-shadow: 0px 0px 5px 2px $_lightYellowGlow, inset 0px 0px 5px 2px $_darkYellowGlow;
			top: $_gutter;
		}

		&--start {
			background-color: $_lightBlue;
			box-shadow: 0px 0px 5px 2px $_lightBlueGlow, inset 0px 0px 5px 2px $_darkBlueGlow;
			bottom: $_gutter;
		}

	}

}
