@mixin clickable {

	border-radius: $_radius;
	background-color: $_white-semiOpaque;
	box-shadow: $_shadow;
	cursor: pointer;

	&:hover {
		background-color: $_white-mostlyOpaque;
		box-shadow: $_shadow-raised;
	}

	&:active {
		background-color: $_white-almostOpaque;
	}

}

@mixin notClickable {

	cursor: default;

	&:hover,
	&:active {
		background-color: $_white-semiOpaque;
	}

}

@mixin disabled {
	opacity: 0.5;
}

@mixin imgBox {
	padding: $_gutter;
	box-sizing: border-box;
	border-radius: $_radius;
	box-shadow: $_shadow;
	display: flex;
}

@mixin textLabel {
	padding: $_gutter-small;
	background-color: $_white-almostOpaque;
	border-radius: $_radius;
	font-family: 'Poppins', sans-serif;
}

@mixin pageContainer {
	display: flex;
	flex-direction: column;
	width: $_contentWidth;
	height: 100%;
	margin: auto;
}

@mixin opacityPulse {
	animation: opacityPulse 1s infinite;
}
